body {
    margin: 0;
    padding: 0;
}

.title {
    margin-top: 1%;
    margin-left: 15%;
    font-size: 200%;
}

#code {
    left: 15%;
    width: 80%;
    position: absolute;
    word-wrap: break-word;
    z-index: -1;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: rgba(0, 0, 100, 0.02);
}

.hljs-comment {
    color: blue;
}

.font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25em;
}